<tr game>
  <td><a href="http://store.steampowered.com/app/<%=steam_app_id%>"><%=name%></a></td>
  <td><%=launchDateSinceText ? launchDateSinceText + ' ago' : '???' %> </td>
  <td>
    <% if(sale_price !== null) { %>
      <span class="strike">$<%= price %></span> <%=sale_price ? "$" + sale_price : 'Free' %>
    <% } else { %>
      <%=price ? "$" + price : 'Free' %>
    <% } %>
  </td>
  <td><%=average_time ? average_time + ' hours' : '-' %></td>
  <td class="hidden"><%=max_time %> hours</td>
  <td class="hidden"><%=min_time %> hours</td>
  <td class="hidden"><%=average_time_positive %> hours</td>
  <td class="hidden"><%=average_time_negative %> hours</td>
  <td><%= averageTimeOverPrice ? averageTimeOverPrice + ' hours/$' : 'N/A'%></td>
  <td class="hidden"><%=positive_reviews %><%= (positive_reviews >= 1000) ? '+' : '' %></td>
  <td class="hidden"><%=negative_reviews %><%= (negative_reviews >= 1000) ? '+' : '' %></td>
  <td><%=totalReviews %><%= (totalReviews >= 1000) ? '+' : '' %></td>
  <td><%=meta_score ? meta_score : '-' %></td>
  <td>
    <div class="positive-reviews"></div>
    <div class="negative-reviews"></div>
  </td>
  <td>
    <div class="centile"></div>
    <div class="centile"></div>
    <div class="centile"></div>
    <div class="centile"></div>
    <div class="centile"></div>
  </td>
</tr>