<tr game>
  <td class="cropped-column">
    <div class="column-cropper">
      <a href="http://store.steampowered.com/app/<%=steam_app_id%>"><%=name%></a>
    </div>
  </td>
  <td class="tags-cell cropped-column">
    <div class="column-cropper">
      <% for(var i = 0; i < categories.length; i++) { %>
        <span class="tag"><%=categories[i]%></span>
      <% } %>
    </div>
  </td>
  <td><%=launchDateSinceText ? launchDateSinceText + ' ago' : '???' %> </td>
  <td>
    <% if(sale_price !== null) { %>
      <span class="strike">$<%= price %></span> <%=sale_price ? "$" + sale_price : 'Free' %>
    <% } else { %>
      <%=price ? "$" + price : 'Free' %>
    <% } %>
  </td>
  <td><%=average_time ? average_time + ' hours' : '-' %></td>
  <td class="hidden"><%=max_time %> hours</td>
  <td class="hidden"><%=min_time %> hours</td>
  <td class="hidden"><%=average_time_positive %> hours</td>
  <td class="hidden"><%=average_time_negative %> hours</td>
  <td><%= averageTimeOverPrice ? averageTimeOverPrice + ' hours/$' : 'N/A'%></td>
  <td class="hidden"><%=positive_reviews %><%= (positive_reviews >= 1000) ? '+' : '' %></td>
  <td class="hidden"><%=negative_reviews %><%= (negative_reviews >= 1000) ? '+' : '' %></td>
  <td><%=totalReviews %><%= (totalReviews >= 1000) ? '+' : '' %></td>
  <td><%=(meta_score !== null) ? meta_score : '-' %></td>
  <td class="reviews-distribution-cell">
    <% if(positiveReviewsPercentage !== null) { %>
    <div class="reviews-distribution">
      <div class="positive-reviews-percentage" style="width: <%=positiveReviewsPercentage%>%"></div>
    </div>
    <% } else { %> - <% } %>
  </td>
  <td class="centiles">
    <%=(playtimeDeviationPercentage !== null) ? playtimeDeviationPercentage : '-'%>
  </td>
</tr>