<tr game>
  <td class="cropped-column">
    <div class="column-cropper-wrapper">
      <div class="column-cropper">
        <a href="http://store.steampowered.com/app/<%=steamAppId%>"><%=name%></a>
      </div>
    </div>
  </td>
  <td class="tags-cell cropped-column">
    <div class="column-cropper-wrapper">
      <div class="column-cropper">
        <% for(var i = 0; i < categories.length; i++) { %>
          <span class="tag"><%=categories[i]%></span>
        <% } %>
      </div>
    </div>
  </td>
  <td><%=launchDateSinceText ? launchDateSinceText + ' ago' : '???' %> </td>
  <td>
    <% if(salePrice !== null) { %>
      <span class="strike">$<%= price %></span> <%=salePrice ? "$" + salePrice : 'Free' %>
    <% } else { %>
      <%=price ? "$" + price : 'Free' %>
    <% } %>
  </td>
  <td>
    -<% if(sale !== null) { %><%=sale%>%<% } %>
  </td>
  <td><%=averageTime ? averageTime + ' hours' : '-' %></td>
  <td class="hidden"><%=maxTime %> hours</td>
  <td class="hidden"><%=minTime %> hours</td>
  <td class="hidden"><%=averageTimePositive %> hours</td>
  <td class="hidden"><%=averageTimeNegative %> hours</td>
  <td><%= averageTimeOverPrice ? averageTimeOverPrice + ' hours/$' : 'N/A'%></td>
  <td class="hidden"><%=positiveReviewsLength %><%= (positiveReviewsLength >= 1000) ? '+' : '' %></td>
  <td class="hidden"><%=negativeReviewsLength %><%= (negativeReviewsLength >= 1000) ? '+' : '' %></td>
  <td><%=totalReviews %><%= (totalReviews >= 1000) ? '+' : '' %></td>
  <td><%=(metaScore !== null) ? metaScore : '-' %></td>
  <td class="reviews-distribution-cell" title="<%=positiveReviewsPercentage%>%">
    <% if(positiveReviewsPercentage !== null) { %>
    <div class="reviews-distribution">
      <div class="positive-reviews-percentage" style="width: <%=positiveReviewsPercentage%>%"></div>
    </div>
    <% } else { %> - <% } %>
  </td>
  <td class="centiles">
    <%=(playtimeDeviationPercentage !== null) ? playtimeDeviationPercentage + '%' : '-'%>
  </td>
  <td class="features-flags-cell">
    <% for(flagName in featuresFlagsList) { %>
      <span title="<%=flagsLabels[flagName]%>" 
            class="flag flag-<%=flagName%> 
            <% if(! (featuresFlagsList[flagName] & features)) {%> disabled <% } %>">
        <%=flagsLabels[flagName]%>
      </span>
    <% } %>
  </td>
  <td class="os-flags-cell">
    <% for(flagName in osFlagsList) { %>
      <span title="<%=flagsLabels[flagName]%>" 
            class="flag flag-<%=flagName%>
            <% if(! (osFlagsList[flagName] & os)) {%> disabled <% } %>">
        <%=flagsLabels[flagName]%>
      </span>
    <% } %>
  </td>
</tr>